        <p>Click on a planet to know more about it:</p>
            <a href="/">Home</a><br>
            <a href="/mercury">Mercury</a><br>
            <a href="/venus">Venus</a><br>
            <a href="/earth">Earth</a><br>